{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div>
    <h2 class="page-heading text-center"><strong>Blog November 21</strong></h2>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="container col-lg-6 sm-12">
            <h5>
                This month we will be looking at various brewing methods, 
            </h5>
            <h5>with the assistance of "That weird coffee guy"</h5>  
            <h5>
                and YouTube sensation James Hoffman. 
            </h5>
            <h5>
                First up is V60 Brewing!
            </h5>
        </div>
        <div class="container col-lg-6 sm-12 youtube-container">
            <h5>The Ultimate V60 technique</h5>
            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/AI4ynXzkSQo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div class="container col-lg-6 sm-12 youtube-container">
            <h5>The Ultimate French Press technique</h5>
            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/st571DYYTR8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="container col-lg-6 sm-12">
            <h5>
                Next up, French press!
            </h5>
        </div>
        
        <div class="container col-lg-6 sm-12">
            <h5>
                And now The Aeropress!
            </h5>
        </div>
        <div class="container col-lg-6 sm-12 youtube-container">
            <h5>The Ultimate Aeropress Technique</h5>
            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/j6VlT_jUVPc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

    
{% endblock %}
